body {
    background: lightcyan; 
    margin: 0 auto;
  }
html,body,h1,h2,h3,h4,h5,h6 {font-family: 'Noto Sans', sans-serif;}
.page{
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
    margin-top: 16px;
    }

.L-column {
    width: 31%; 
    margin-right: 16px;
    float: left; 
    box-sizing: border-box; 
    }
.L-card{
    background-color: lightgoldenrodyellow;
    color: gray; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
}
.p-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
img{
    width:75%;
    height: 75%;
    border-radius: 10px;
}
.info-box{
    margin: 0 auto; 
    padding: 16px;
    max-width: 430px;
    box-sizing: border-box;
}
.fa_custom {
    color: rgb(77, 77, 77)
}
.custom-line {
    border: 1px solid #333; 
    margin: 20px 0; 
  }

h1{
    font-size: 1.75em;
}
h2,li{
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}
.R-column {
    width: 65%;
    margin-right: 16px;
    float: right;
    box-sizing: border-box; 
}
.R-card{
    background-color: lightgoldenrodyellow;
    color: gray; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 16px; 
    padding: 16px;
}